@import "@arcgis/core/assets/esri/themes/dark/main.css";

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-view {
    background-color: black;
    top: 0;
    left: 0;
    border: 2px solid white;
    height: 70vh;
    width: 70vw;
}